################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/task4/.vs/task4.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
